.fz-14 {
  font-size: 14px;
}
.fz-16 {
  font-size: 16px;
}
.fz-24 {
  font-size: 24px;
}
.lh-16 {
  line-height: 16px;
}
.lh-19 {
  line-height: 19px;
}
.lh-21 {
  line-height: 21px;
}
.lh-24 {
  line-height: 24px;
}
.lh-28 {
  line-height: 28px;
}
.lh-29 {
  line-height: 29px;
}
.lh-36 {
  line-height: 36px;
}
.lh-38 {
  line-height: 38px;
}
.lh-48 {
  line-height: 48px;
}
.lh-57 {
  line-height: 57px;
}
ul,
li {
  list-style: none;
  padding: 0;
}
sup {
  font-size: 0.6rem;
  top: -0.4rem;
}
s {
  font-size: 12px;
  color: #00000062;
}
.mobileHide {
  display: none !important;
  @include media-breakpoint-up(xl) {
    display: flex !important;
  }
}
.mobileShow {
  display: flex !important;
  @include media-breakpoint-up(xl) {
    display: none !important;
  }
}
.mobileShowBlock {
  display: block !important;
  @include media-breakpoint-up(xl) {
    display: none !important;
  }
}
.p--0 {
  @include media-breakpoint-up(xl) {
    padding: 0 !important;
  }
}
.mt--110 {
  @include media-breakpoint-up(xl) {
    margin-top: -110px;
  }
}
.mt--130 {
  @include media-breakpoint-up(xl) {
    margin-top: -130px;
  }
}
.mt--240 {
  @include media-breakpoint-up(xl) {
    margin-top: -240px;
  }
}
.bigCard {
  @include media-breakpoint-up(xl) {
    width: 350px !important;
    height: 556px !important;
    margin-bottom: 48px !important;
  }
}
.normalCard {
  @include media-breakpoint-up(xl) {
    width: 350px !important;
    height: 426px !important;
    margin-bottom: 48px !important;
  }
}
.smallCard {
  @include media-breakpoint-up(xl) {
    width: 350px !important;
    height: 316px !important;
    margin-bottom: 48px !important;
  }
}

.bigImg {
  @include media-breakpoint-up(xl) {
    width: 350px !important;
    height: 480px !important;
  }
}
.normalImg {
  @include media-breakpoint-up(xl) {
    width: 350px !important;
    height: 350px !important;
  }
}
.smallImg {
  @include media-breakpoint-up(xl) {
    width: 350px !important;
    height: 240px !important;
  }
}
.font-raleway {
  font-family: "Raleway", sans-serif;
}
.mb-32 {
  margin-bottom: 32px;
}
.mb-108 {
  margin-bottom: 108px;
}
.pt-188 {
  padding-top: 188px;
}
.pt-257 {
  padding-top: 257px;
}
.mb--60 {
  margin-bottom: -60px;
}
.btn-lg {
  padding: 1rem;
  font-size: 16px;
}
.specialClays_img {
  background: url(../images/SpecialClays.jpg) no-repeat;
}
.lessismore_img {
  background: url(../images/Lessismore.jpg) no-repeat;
}
.marvelousDetail_img {
  background: url(../images/MarvelousDetail.jpg) no-repeat;
}

.hsiaoMingChen_img {
  background: url(../images/hsiao-MingChen.jpg) no-repeat;
}

.tatamiCup_img {
  background: url(../images/TatamiCup.jpg) no-repeat;
}
.hanaVase_img {
  background: url(../images/HanaVase.jpg) no-repeat;
}
.baifanBowl_img {
  background: url(../images/BaifanBowl.jpg) no-repeat;
}
.limdaeCup_img {
  background: url(../images/LimdaeCup.jpg) no-repeat;
}
.sumoVase_img {
  background: url(../images/SumoVase.jpg) no-repeat;
}
.ceramicVase_img {
  background: url(../images/CeramicVase.jpg) no-repeat;
}
.kabiMug_img {
  background: url(../images/KabiMug.jpg) no-repeat;
}
.shiroPlate_img {
  background: url(../images/ShiroPlate.jpg) no-repeat;
}
.coupleCollection_img {
  background: url(../images/CoupleCollection.jpg) no-repeat;
}

.l_footer_banner {
  background: url(../images/footer_banner.jpg) no-repeat;
}
