.fz-14{
  font-size: 14px;
}
.fz-24{
  font-size: 24px;
}
.lh-16{
  line-height: 16px;
}
.lh-19{
  line-height: 19px;
}
.lh-21{
  line-height: 21px;
}
.lh-24{
  line-height: 24px;
}
.lh-28{
  line-height: 28px;
}
.lh-29{
  line-height: 29px;
}
.lh-36{
  line-height: 36px;
}
.lh-38{
  line-height: 38px;
}
.lh-48{
  line-height: 48px;
}
.lh-57{
  line-height: 57px;
}
ul,li{
  list-style: none;
  padding: 0;
}
sup{
  font-size: .6rem;
  top: -.4rem;
}
s{
  font-size: 12px;
  color: #00000062;
}
.font-raleway{
  font-family: 'Raleway', sans-serif;;
}
.mb-108{
  margin-bottom: 108px;
}
.mb-152{
  margin-bottom: 152px;
}
.pt-188{
  padding-top: 188px;
}
.mb--60{
  margin-bottom: -60px;
}
.btn-lg{
  padding: 1rem;
  font-size: 16px;
}
.specialClays_img{
  background: url(../images/SpecialClays.jpg) no-repeat;
}
.lessismore_img{
  background: url(../images/Lessismore.jpg) no-repeat;
}
.marvelousDetail_img{
  background: url(../images/MarvelousDetail.jpg) no-repeat;
}
.hsiaoMingChen_img{
  background: url(../images/hsiao-MingChen.jpg) no-repeat;
}
.tatamiCup_img{
  background: url(../images/TatamiCup.jpg) no-repeat;
}
.baifanBowl_img{
  background: url(../images/BaifanBowl.jpg) no-repeat;
}
.coupleCollection_img{
  background: url(../images/CoupleCollection.jpg) no-repeat;
}
.sumoVase_img{
  background: url(../images/SumoVase.jpg) no-repeat;
}
.footer_banner{
  background: url(../images/footer_banner.jpg) no-repeat;
}