.darkShady {
  display: none;
}
.navbar {
  z-index: 1;
}
.l-header {
  position: relative;
}
.nav-menu {
  position: absolute;
  left: -120%;
  width: 100%;
  top: 0;
  height: 100vh;
  overflow: hidden;
  transition: left 0.8s;
  z-index: 120;
}
.position-relative {
  top: -60;
}
.nav-menu.active {
  left: 0;
}
.nav-menu-title {
  font-size: 24px;
  line-height: 28px;
}
@include media-breakpoint-up(xl) {
  .menuBtn {
    display: none !important;
  }
  .product_logo_icon {
    color: #000 !important;
  }
  .nav-menu {
    position: relative;
    left: 0;
    width: auto;
    height: auto;
    transition: none;
    z-index: auto;
    background: transparent !important;
  }
  .navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    .nav-header {
      display: none !important;
    }
    .nav-item span {
      display: none !important;
    }
    hr {
      display: none;
    }
    a {
      color: #ffffff !important;
      font-size: 16px;
      margin-right: 48px;
    }
  }
  .product_list {
    display: none;
  }
}
.shopping-cart-page {
  position: absolute;
  left: 101%;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 120;
  transition: all 0.8s;
}
.shopping-cart-page.active {
  left: 0;
  overflow: hidden;
}
.cartList_title {
  font-size: 24px;
  font-weight: bold;
  sup {
    font-size: 0.9rem;
    padding-left: 5px;
  }
}

.cartList_item {
  background: #f2f2f2;
  &_img {
    height: 96px;
    width: 96px;
    flex-shrink: 0;
    background-size: cover;
    background-position: center;
  }
}
.cartList_detail {
  width: 100%;
}
.totalPrice {
  margin-bottom: 152px;
}
@include media-breakpoint-up(xl) {
  .darkShady {
    background: #000;
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    z-index: 100;
    opacity: 0.5;
  }
  .shopping-cart-page {
    width: 42.1875% !important;
    padding: 48px !important;
  }
  .shopping-cart-page.active {
    left: 57.8125%;
  }
  .shopping-cart-close-icon span {
    font-size: 48px;
  }
  .cartList_title {
    font-size: 48px;
    sup {
      font-size: 1.8rem;
      top: -0.5em;
      margin-left: 5px;
    }
  }
  .cartList_item_img {
    height: 116px;
    width: 116px;
  }
  .cartList_item_information {
    padding: 16px !important;
  }
  .cartList_detail {
    width: 61.48%;
  }
  .totalPrice {
    margin-bottom: 24px;
  }
}

.l_footer_banner {
  background-size: cover;
  background-position: center;
  input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 59px;
    padding: 16.5px 16px;
  }
  ::placeholder {
    /* CSS 3 標準 */
    color: #ffffff99;
  }
  ::-webkit-input-placeholder {
    /* Chrome, Safari */
    color: #ffffff99;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    color: #ffffff99;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #ffffff99;
    opacity: 1;
  }
  // &_emailInput {
  // }
  .subscribeBtn {
    padding: 16.5px 24px;
  }
}
.l_footer_logo {
  a {
    text-decoration: none;
  }
}
.logo_reserved_desktop {
  display: none;
}
@include media-breakpoint-up(xl) {
  .l_footer_banner {
    height: 400px;
    .jumbotron {
      padding: 84px 0 !important;
    }
    h2 {
      font-size: 48px;
      margin-bottom: 48px !important;
    }
    .subscribeBtn {
      padding: 16.5px 44px;
    }
  }
  .l_footer_logo {
    display: flex;
    margin: 0 !important;
  }
  .l_footer_information {
    padding: 39px 0 !important;
  }
  .l_footer_information_desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
      display: flex;
      align-items: center;
      margin: 0 !important;
      li {
        margin: 0 !important;
        margin-left: 48px !important;
      }
    }
  }
  .logo_reserved_desktop {
    display: block;
    margin-left: 16px;
  }
  .logo_reserved_mobile {
    display: none;
  }
}
