.nav-link.text-dark {
  color: #121212 !important;
}
.productlistBtn.text-success,
.pagination_firstPageBtn.text-success {
  color: #0e8a00 !important;
  font-weight: bold;
}
.pagination_firstPageBtn.text-success {
  border-bottom: solid 3px #0e8a00;
}
.pageNav {
  sup {
    font-size: 0.7rem;
  }
  @include media-breakpoint-up(xl) {
    .mb-4 {
      margin-bottom: 48px !important;
    }
  }
}
.pageItem_list {
  a {
    text-decoration: none;
  }
  .card {
    width: 161px;
    height: 220px;
    .card-title {
      font-size: 14px;
    }
  }
  .product_img {
    width: 161px;
    height: 161px;
  }
  .product_name {
    font-size: 20px;
  }
  .product_price {
    font-size: 14px;
    &Original {
      font-size: 14px;
    }
  }
  @include media-breakpoint-up(xl) {
    .card {
      width: 350px;
      height: auto;
      .card-title {
        font-size: 14px;
      }
    }
    .product_name {
      font-size: 24px;
    }
    .product_price {
      font-size: 16px;
      &Original {
        font-size: 16px;
      }
    }
    .justify-content-around {
      justify-content: space-between !important;
    }
    .pagination {
      margin-bottom: 72px;
    }
  }
}
