.navbar.align-left {
  justify-content: start !important;
}
.orderSummary {
  border-radius: 5px;
  &ShowBtn {
    padding: 18px 0;
    text-decoration: none !important;
  }
  &List {
    display: none;
  }
  &List_img {
    height: 48px;
    width: 48px;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
  }
  &List_item_title_num {
    font-weight: normal;
    margin-left: 8px;
  }
  .totalPrice {
    margin: 0;
  }
  @include media-breakpoint-up(xl) {
    margin-top: 59px;
    &ShowBtn {
      display: none;
    }
    &List {
      display: block !important;
    }
  }
}
.informationBreadcrumb {
  height: 1px;
}
.form-check {
  padding: 0;
  &-input {
    display: none;
  }
  .checkOutlineBtn {
    display: none;
  }
}
.form-group {
  select {
    height: 50px;
  }
}
.goToPaymentBtn {
  margin-bottom: 24px;
  @include media-breakpoint-up(xl) {
    margin-bottom: 16px;
  }
}
.backCartBtn {
  justify-content: center;
  @include media-breakpoint-up(xl) {
    justify-content: start;
    margin-bottom: 16px;
  }
}
.clauseList {
  @include media-breakpoint-up(xl) {
    display: flex;
    .clause {
      margin-right: 24px;
    }
  }
}
